/*
Author: Steve/CaffeineDash/C8H10N4O2Addict
contact: jawes70@gmail.com
Description: This page is a basic CSS.
*/
body {
	background-image: url(Background.png);
	background-repeat: no-repeat;
	background-size: cover;	
}